# 部署到 Vercel 时，将以下环境变量填入 Vercel 环境变量设置
# DATABASE_URL=postgres://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres
# DIRECT_URL=postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres
# AUTH_SECRET=a04bfd074af418c3c265d7fb194e7d9d9ed5f7d8b64d406fb6de0a5b4256f15b
# AUTH_URL=https://你的域名.vercel.app
